app:
  cors:
    allowed-origins:
      - http://localhost:3000

logging:
  level:
    root: INFO
    com.smartlist.api: DEBUG

password:
  reset:
    link: http://localhost:3000/reset-password?token=